<section class="seccionLogin">
    <div class="divImagenForm">
        <div class="textoBienvenida">
            <h1>Bienvenido</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquam consectetur metus sed efficitur. Maecenas a fermentum ex, eget ultricies est. Sed efficitur augue quam, in tempus libero rhoncus at. Sed mattis, lectus vitae posuere pellentesque, libero justo facilisis urna, vel pellentesque eros quam ac elit. Praesent ultricies ultrices orci, ut facilisis est faucibus in. Morbi eu lectus diam.</p>    
        </div>
    </div>
    <div class="divFormularios">
        <img src="../imagenes/Logotipo.png" alt="Icono Web temporal" class="logo">
        <h1 class="formTitulo">INICIAR SESIÓN</h1>
        <form class="formulario">
            <label>Correo: <input type="text" name="input correo"></label>
            <br />
            <br />
            <label>Contraseña: <input type="password" name="input contraseña"></label>
            <br />
            <br />
            <input type="button" value="Ingresar" class="botonForm" name="input boton iniciar sesion">
        </form>
        <hr>
        <h1 class="formTitulo">REGISTRARSE</h1>
        <form class="formulario">
            <label>Correo: <input type="text" name="input correo"></label>
            <br />
            <br />
            <label>Contraseña: <input type="password" name="input contraseña"></label>
            <br />
            <br />
            <label>Confirmar contraseña: <input type="password" name="input confirmar contraseña"></label>
            <br />
            <br />
            <input type="button" value="Registrar" class="botonForm" name="input boton registrar">
        </form>
    </div>
</section>