<input type="checkbox" id="check" class="inputCheck">
<nav>
    <a href="/index.html" class="enlace">
        <img src="../../../imagenes/Logotipo.png" alt="Icono Web temporal" class="logo">
    </a>
    <ul>
        <li>Guitarra acústica/española
            <ul class="ulDrop">
                <li><a class="liDrop" href="/cancion/guitarraAcustica/ver">Canciones</a></li>
                <li><a class="liDrop" href="/video/tutorial/guitarraAcustica/ver">Vídeos</a></li>
                <li><a class="liDrop" href="/video/curso/guitarraAcustica/ver">Cursos</a></li>
            </ul>
        </li>
        <li>Guitarra eléctrica
            <ul class="ulDrop">
                <li><a class="liDrop" href="/cancion/ver">Canciones</a></li>
                <li><a class="liDrop" href="/video/tutorial/guitarraElectrica/ver">Vídeos</a></li>
                <li><a class="liDrop" href="/video/curso/guitarraElectrica/ver">Cursos</a></li>
            </ul>
        </li>
        <li>Bajo
            <ul class="ulDrop">
                <li><a class="liDrop" href="/cancion/ver">Canciones</a></li>
                <li><a class="liDrop" href="/video/tutorial/bajo/ver">Vídeos</a></li>
                <li><a class="liDrop" href="/video/curso/bajo/ver">Cursos</a></li>
            </ul>
        </li>
        <li>Ukelele
            <ul class="ulDrop">
                <li><a class="liDrop" href="/cancion/ver">Canciones</a></li>
                <li><a class="liDrop" href="/video/tutorial/ukelele/ver">Vídeos</a></li>
                <li><a class="liDrop" href="/video/curso/ukelele/ver">Cursos</a></li>
            </ul>
        </li>
        <li><a href="/tienda">Tienda</a></li>
    </ul>
    <a href="/registro/login" class="user"><i class="bi bi-person-circle"></i><span>Iniciar sesión | Crear cuenta</span></a>
    <label for="check" class="checkBoton">
        <i class="fas fa-bars"></i>
    </label>
</nav>