<section class="seccionCarrusel">
  <div class="tituloCarrusel">
    <h1>Últimas canciones añadidas</h1>
  </div>
  <section class="apartadoCarrusel">
    <div class="carruseles" id="slider">
      <article class="slider-section">
        <img src="../imagenes/canciones/Can_tCatchMeNow.png" alt="" />
        <span>
          <h1>Can't Catch Me Now</h1>
          <h1>Guitarra acustica</h1>
        </span>
      </article>
      <article class="slider-section">
        <img src="../imagenes/canciones/Sparks.jpg" alt="" />
        <span>
          <h1>Sparks</h1>
          <h1>Guitarra acustica</h1>
        </span>
      </article>
      <article class="slider-section">
        <img src="../imagenes/canciones/StandBy.jpg" alt="" />
        <span>
          <h1>Stand by</h1>
          <h1>Guitarra electrica</h1>
        </span>
      </article>
    </div>
    <i class="flechIzq bi bi-chevron-left" id="flechIzq"></i>
    <i class="flechDer bi bi-chevron-right" id="flechDer"></i>
  </section>
</section>
