<div class="cabeza">
    <section class="seccionCuerpo">
        <img src="../imagenes/Logotipo.png" alt="Icono Web temporal" class="logo">
        <p>
            ¡Bienvenido a El acorde, la página dedicada a los amantes de la música y los instrumentos! Podrás encontrarte desde partituras para guitarra acústica, eléctrica, ukelele y bajo, hasta video-tutoriales y una tienda online repleta de instrumentos y accesorios. Todo lo que necesitas para tocar y aprender música, en un solo lugar.</p>
    </section>
</div>