
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: none !important;
}
.container{
    margin: 50px auto;
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: center;
}

.row{
    color: white;
    grid-gap: 20px;
    width: 100%;
    margin: auto;
    margin-right: 0px;
}

.container .row .col{
    width: 430px;
    margin: 0px auto 0px;
    transition: all 0.5s ease;
}

.col{
    text-align: center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 300px;
    min-width: 430px;
    padding-top: 240px;
    padding-right: 5%;
    border-radius: 50px;
    border: #4d0000 8px solid;
}

.container .row .col:hover{
    height: 320px;
    width: 450px;
}

/* Esto tiene que ir en Index.css porque no pilla las imagenes en background-image*/
/* .col1{
    background-image: url(/public/imagenes/imagen1.jpeg);
}
.col2{
    background-image: url(/public/imagenes/imagen3.jpg);
}
.col3{
    background-image: url(/public/imagenes/imagen2.jpg);
} */

.container .row .col div{
    background: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
}

.row h2{
    font-size: 25px;
}