

@import url('Styles/Menu.css');
@import url('Styles/caminoMigas.css');
@import url('Styles/PiePagina.css');
@import url('Styles/mapaWeb.css');
@import url('Styles/accesibilidad.css');

@import url('Styles/LandingPage/Cuerpo.css');
@import url('Styles/LandingPage/Separacion.css');
@import url('Styles/LandingPage/Grid.css');
@import url('Styles/LandingPage/carrusel.css');

@import url('Styles/SignInPage/Login.css');
@import url('Styles/SignInPage/sesionIni.css');

@import url('Styles/ShopPage/Tienda.css');
@import url('Styles/ShopPage/producto.css');
@import url('Styles/ShopPage/enlaceCarrito.css');
@import url('Styles/ShopPage/carrito.css');

@import url('Styles/ListsPage/tarjetaCancion.css');
@import url('Styles/ListsPage/cancion.css');
@import url('Styles/ListsPage/videos.css');


*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.body{
    background-color: rgb(7, 7, 7);
    background-size: 1800px;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
}


/* PRODUCTO, CARRITO */
.zonaProducto div input, .productoEnLista div input {
    outline: none;
    border: none;
    width: 80px;
    font-size: 20px;
    padding: 10px 0px 10px 15px;
    border-radius: 20px;
    text-align: center;
}
.escribirComentario button, .zonaProducto div button, .productoEnLista div button, .carritoComprar button {
    padding: 4px 8px;
    border-radius: 20px;
    border: none;
    background-color: rgb(255, 255, 255);
}
.escribirComentario button:active, .zonaProducto div button:active, .productoEnLista div button:active, .carritoComprar button:active {
    background-color: #700000;
    color: white;
}

.estadisticas {
    background-color: white;
    border-radius: 30px;
}

/*Responsive*/

@media only screen and (max-width: 1650px) {
    body{
        background-size: 1500px;
    }

    /* .container{
        max-width: 1400px;
    } */
}

@media only screen and (max-width: 1365px) {
    body{
        background-size: 1200px;
    }
    /* .container{
        min-width: 1200px;
    } */
}

@media only screen and (max-width: 1190px) {
    body{
        background-size: 1000px;
    }
    /* .container{
        min-width: 1000px;
    } */
}

@media only screen and (max-width: 900px) {
    /* .container{
        min-width: 800px;
    } */
}


@media only screen and (max-width: 805px) {
    body{
        background-size: 800px;
    }
}

@media only screen and (min-width: 1400px) {
    /* .container{
        max-width: 1400px;
    } */
}

.col1{
    background-image: url(imagenes/imagen1.jpeg);
}
.col2{
    background-image: url(imagenes/imagen3.jpg);
}
.col3{
    background-image: url(imagenes/imagen2.jpg);
}

.cabeza{
    background-image: url(imagenes/fondo5.jpg);
}

.divImagenForm{
    background-image: url(imagenes/imagenLogin.jpg);
}

@media only screen and (max-width: 950px) {
    .seccionLogin{
        background-image: url(imagenes/imagenLogin.jpg);
    }
}