<section class="cancion">
    <main>
        <img src="/imagenes/coverCanciones/Sparks.jpg" alt="Cover Cancion">
        <div>
            <p>Sparks Into The Gun Machine</p>
            <p>Coldplay Revolution 156</p>
            <p>1990</p>
        </div>
    </main>
    <div class="tablatura">
        <img src="../imagenes/PruebaTablatura.jpg" alt="">
    </div>
    <div>
        <p>Descargar tablatura</p>
        <p>Guardar canción</p>
    </div>
    <div class="likesCancion">
        <button><i class="bi bi-hand-thumbs-up-fill"></i><p>1000</p></button>
        <button><i class="bi bi-hand-thumbs-down-fill"></i><p>1000</p></button>
    </div>
</section>