<section class="seccionCanciones">
    <div class="buscadorCanciones">
        <label><i class="bi bi-search"></i><input type="text" placeholder="Buscar canciones o artistas"></label>
    </div>
    <a href="../cancion-Proyecto.html">
        <div class="tarjetaCancion">
            <img src="../imagenes/coverCanciones/Sparks.jpg" alt="Cover cancion" class="coverCancion">
            <div class="datosCancion">
                <p>Nombre</p>
                <p>Autor</p>
                <p>Año</p>
                <label><p>Guardar canción</p><i class="bi bi-plus-circle"></i></label>
            </div>
            <div class="likesCancion">
                <button><i class="bi bi-hand-thumbs-up-fill"></i><p>1000</p></button>
                <button><i class="bi bi-hand-thumbs-down-fill"></i><p>1000</p></button>
            </div>
        </div>
    </a>
    <div class="tarjetaCancion">
        <img src="../imagenes/coverCanciones/StandBy.jpg" alt="Cover cancion" class="coverCancion">
        <div class="datosCancion">
            <p>Nombre</p>
            <p>Autor</p>
            <p>Año</p>
            <label><p>Guardar canción</p><i class="bi bi-plus-circle"></i></label>
        </div>
        <div class="likesCancion">
            <button><i class="bi bi-hand-thumbs-up-fill"></i><p>1000</p></button>
            <button><i class="bi bi-hand-thumbs-down-fill"></i><p>1000</p></button>
        </div>
    </div>
    <div class="tarjetaCancion">
        <img src="../imagenes/coverCanciones/Can'tCatchMeNow.png" alt="Cover cancion" class="coverCancion">
        <div class="datosCancion">
            <p>Nombre</p>
            <p>Autor</p>
            <p>Año</p>
            <label><p>Guardar canción</p><i class="bi bi-plus-circle"></i></label>
        </div>
        <div class="likesCancion">
            <button><i class="bi bi-hand-thumbs-up-fill"></i><p>1000</p></button>
            <button><i class="bi bi-hand-thumbs-down-fill"></i><p>1000</p></button>
        </div>
    </div>
</section>