<section class="seccionVideos">
    <div class="buscadorCanciones">
        <label><i class="bi bi-search"></i><input type="text" placeholder="Buscar vídeos o covers"></label>
    </div>
    <article class="tarjetaVideo">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ljHfEBnv10w?si=zt94UrXISgfGrHA_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <div>
            <span>
                <h1>Step on me</h1>
                <h1>The cardigans</h1>
            </span>
            <h1>Marin Music Center</h1>
        </div>
    </article>
    <article class="tarjetaVideo">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/NFd2xYFNY28?si=T_tsvyDewVrKg7q3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <div>
            <span>
                <h1>The Man Who Sold The World</h1>
                <h1>Nirvana</h1>
            </span>
            <h1>guitarraviva</h1>
        </div>
    </article>
</section>