<section class="carritoSeccion">
    <main class="listaProductosCar">
        <h1>Productos en el carrito</h1>
        <article>
            <div class="productoEnLista">
                <img src="../imagenes/Productos/packPuas.jpg" alt="Producto a comprar">
                <p>Nombre del producto</p>
                <div>
                    <p>00.00€</p>
                    <input type="number" name="cantidad" min="1">
                    <button>Eliminar del carrito</button>
                </div>
            </div>
            <div class="productoEnLista">
                <img src="../imagenes/Productos/ukeleleRosa.jpg" alt="Producto a comprar">
                <p>Nombre del producto</p>
                <div>
                    <p>00.00€</p>
                    <input type="number" name="cantidad" min="1">
                    <button>Eliminar del carrito</button>
                </div>
            </div>
            <div class="productoEnLista">
                <img src="../imagenes/Productos/capo.jpg" alt="Producto a comprar">
                <p>Nombre del producto</p>
                <div>
                    <p>00.00€</p>
                    <input type="number" name="cantidad" min="1">
                    <button>Eliminar del carrito</button>
                </div>
            </div>
            <div class="productoEnLista">
                <img src="../imagenes/Productos/guitarraRoja.jpg" alt="Producto a comprar">
                <p>Nombre del producto</p>
                <div>
                    <p>00.00€</p>
                    <input type="number" name="cantidad" min="1">
                    <button>Eliminar del carrito</button>
                </div>
            </div>
        </article>
        <div class="precioTotal">
            <h1>Total :</h1>
            <h1>00.00€</h1>
        </div>
    </main>
    <div class="carritoComprar">
        <h1>00.00€</h1>
        <button>Comprar</button>
    </div>
</section>