<section class="seccionProducto">
    <main class="zonaProducto">
        <img src="/imagenes/Productos/guitarraRoja.jpg" alt="Guitarra acustica de color rojo">
        <article class="datosProducto">
            <h1>Nombre del producto</h1>
            <p>Precio</p>
            <p>Descripción del producto : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mattis, urna at elementum ullamcorper, diam magna sollicitudin lacus, et hendrerit sapien nulla id nisi. Aliquam cursus consequat neque, nec lacinia urna congue a. Praesent quis elementum ante. Donec suscipit dapibus velit, sit amet tincidunt mauris tempor facilisis.</p>
            <p>Valoración</p>
        </article>
        <hr>
        <div>
            <button>Añadir al carrito</button>
            <input type="number" name="cantidad" min="1">
        </div>
    </main>
    <hr>
    <footer class="zonaComentarios">
        <div class="escribirComentario">
            <div>
                <i class="bi bi-person-circle"></i>
                <input type="text" placeholder="Añade una reseña...">
            </div>
            <span>
                <button>Cancelar</button>
                <button>Enviar comentario</button>
            </span>
        </div>
        <article class="comentario">
            <main>
                <i class="bi bi-person-circle"></i>
                <div>
                    <span class="nombreFechaComent">
                        <p>Daniel_UserPrueba</p>
                        <p>15/04/20024</p>
                    </span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse aliquam velit et porttitor dapibus. Suspendisse volutpat ligula a diam iaculis, at elementum ipsum luctus.</p>
                </div>
            </main>
            <footer class="respuestas">
                <article>
                    <i class="bi bi-person-circle"></i>
                    <div>
                        <span class="nombreFechaComent">
                            <p>Daniel_UserPrueba</p>
                            <p>15/04/20024</p>
                        </span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse aliquam velit et porttitor dapibus. Suspendisse volutpat ligula a diam iaculis, at elementum ipsum luctus.</p>
                    </div>
                </article>
                <article>
                    <i class="bi bi-person-circle"></i>
                    <div>
                        <span class="nombreFechaComent">
                            <p>Daniel_UserPrueba</p>
                            <p>15/04/20024</p>
                        </span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse aliquam velit et porttitor dapibus. Suspendisse volutpat ligula a diam iaculis, at elementum ipsum luctus.</p>
                    </div>
                </article>
                <article>
                    <i class="bi bi-person-circle"></i>
                    <div>
                        <span class="nombreFechaComent">
                            <p>Daniel_UserPrueba</p>
                            <p>15/04/20024</p>
                        </span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse aliquam velit et porttitor dapibus. Suspendisse volutpat ligula a diam iaculis, at elementum ipsum luctus.</p>
                    </div>
                </article>
            </footer>
        </article>
        <article class="comentario">
            <main>
                <i class="bi bi-person-circle"></i>
                <div>
                    <span class="nombreFechaComent">
                        <p>Daniel_UserPrueba</p>
                        <p>15/04/20024</p>
                    </span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse aliquam velit et porttitor dapibus. Suspendisse volutpat ligula a diam iaculis, at elementum ipsum luctus.</p>
                </div>
            </main>
        </article>
        <article class="comentario">
            <main>
                <i class="bi bi-person-circle"></i>
                <div>
                    <span class="nombreFechaComent">
                        <p>Daniel_UserPrueba</p>
                        <p>15/04/20024</p>
                    </span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse aliquam velit et porttitor dapibus. Suspendisse volutpat ligula a diam iaculis, at elementum ipsum luctus.</p>
                </div>
            </main>
        </article>
    </footer>
</section>