<div class="cabeceraTienda">
    <label for="" class="buscadorTienda">
        <i class="bi bi-search"></i>
        <input type="text" placeholder="Buscar productos" name="barra de búsqueda de productos">
    </label>
    <div class="menuTienda">
        <ul>
            <li><a href="#">Todos</a></li>
            <li><a href="#">Instrumentos</a></li>
            <li><a href="#">Accesorios</a></li>
            <li><a href="#">Libros</a></li>
            <li><a href="#">Sonido y audio</a></li>
        </ul>
    </div>
</div>
<div class="seccionProductos">
    <div class="linea">
        <a href="/producto-Proyecto.html">
            <div class="cuadrado">
                <img src="../imagenes/Productos/guitarraRoja.jpg">
                <p>Guitarra roja</p>
                <p>150,99€</p>
            </div>
        </a>
        <div class="cuadrado">
            <a href="#">
                <img src="../imagenes/Productos/capo.jpg">
                <p>Capo</p>
                <p>7,00€</p>
            </a>
        </div>
        <div class="cuadrado">
            <a href="#">
                <img src="../imagenes/Productos/ukeleleRosa.jpg">
                <p>Ukelele rosa</p>
                <p>30.99€</p>
            </a>
        </div>
        <div class="cuadrado">
            <a href="#">
                <img src="../imagenes/Productos/packPuas.jpg">
                <p>Pack de 10 púas</p>
                <p>16,99€</p>
            </a>
        </div>
        <div class="cuadrado"></div>
        <div class="cuadrado"></div>
        <div class="cuadrado"></div>
        <div class="cuadrado"></div>
        <div class="cuadrado"></div>
    </div>
</div>